<div ng-controller="indexController as vm" ng-init="vm.initializeController()">


    <div>

        <h4 class="page-header">Overview of the Sample Application</h4>

        <p>
            This sample web application has three goals:

            <ul>
                <li>Implement AngularJS on the frontend for the views and the JavaScript AngularJS controllers. </li>
                <li>
                    Use Microsoft's ASP.NET MVC platform for delivering and bootstrapping the application while using it's built-in plumbing for
                    bundling and minification of all JavaScript and CSS content to the browser.
                </li>
                <li>
                    Load AngularJS controllers and services on-demand in a just-in-time manner by functional module instead of loading all of the AngularJS functionality up-front when the application
                    starts up.
                </li>
            </ul>

            
        </p>        
    </div>
       
</div>

